*{
	margin: 0;
	padding: 0;

}
.wrapper{
	width: 1170;
	margin: auto;
}
header{
	background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("bg.png");
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.nav-area{
	float: right;
	list-style: none;
	margin-top: 30px;

}
.nav-area li{
	display:  inline-block;
}
.nav-area li a{
	color #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 14px;
}
.nav-area li a:hover{
	background: #fff;
	color: #333;
}
.logo img{
	width: 100px;
	float: left;
	height: auto;
}
.regiter-text{
	position: absolute;
	width: 600px;
	height: 300px;
	margin: 20% 30%;
	text-align: center;

}
.register-text h1{
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 70px;
}